<section id="boxscore">
    <div class="stat container mb-3">
        <div class="row">
            <h3 class="text-center mt-3">Best viewed in mobile</h3>
            <div class="teamName my-2 mx-2 ps-3 col rounded" style="background-image: url(<%=boxscore[2]%>);"></div>
            <div class="text-primary text-end text-uppercase fs-1 my-2 fw-bold rounded col" ><%= boxscore[0].teamName %></div>
        </div>
        <div class="home row">
            <div class="playerStat col-1 border border-dark text-center">MIN</div>
            <div class="playerStat col-1 border border-dark text-center">PTS</div>
            <div class="playerStat col-1 border border-dark text-center">FG</div>
            <div class="playerStat col-1 border border-dark text-center">3P</div>
            <div class="playerStat col-1 border border-dark text-center">FT</div>
            <div class="playerStat col-1 border border-dark text-center">REB</div>
            <div class="playerStat col-1 border border-dark text-center">AST</div>
            <div class="playerStat col-1 border border-dark text-center">STL</div>
            <div class="playerStat col-1 border border-dark text-center">BLK</div>
            <div class="playerStat col-1 border border-dark text-center">TO</div>
            <div class="playerStat col-1 border border-dark text-center">PF</div>
            <div class="playerStat col-1 border border-dark text-center">+/-</div>
        </div>
        <% for(let stat of boxscore[0].players){ %>
        <div class="home row">
            <div class="playerName col-12 text-end"><%= stat.nameI %></div>
            <div class="playerStat col-1 border border-dark text-center"><% if(stat.statistics.minutes){ %><%= stat.statistics.minutes%><% } else { %> DNP <%} %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.points%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.fieldGoalsMade %>/<%= stat.statistics.fieldGoalsAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.threePointersMade %>/<%= stat.statistics.threePointersAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.freeThrowsMade %>/<%= stat.statistics.freeThrowsAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.reboundsTotal%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.assists%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.steals%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.blocks%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.turnovers%></div>
            <div class="playerStat col-1 border border-dark text-center">PF</div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.plusMinusPoints%></div>
        </div>
        <% } %>
    </div>
    <div class="stat container mb-3">
        <div class="row">
            <div class="text-primary text-uppercase fs-1 my-2 fw-bold rounded col" ><%= boxscore[1].teamName %></div>
            <div class="teamName my-2 pe-3 mx-2 col rounded" style="background-image: url(<%=boxscore[2]%>);"></div>
        </div>
        <div class="away row">
            <div class="playerStat col-1 border border-dark text-center">MIN</div>
            <div class="playerStat col-1 border border-dark text-center">PTS</div>
            <div class="playerStat col-1 border border-dark text-center">FG</div>
            <div class="playerStat col-1 border border-dark text-center">3P</div>
            <div class="playerStat col-1 border border-dark text-center">FT</div>
            <div class="playerStat col-1 border border-dark text-center">REB</div>
            <div class="playerStat col-1 border border-dark text-center">AST</div>
            <div class="playerStat col-1 border border-dark text-center">STL</div>
            <div class="playerStat col-1 border border-dark text-center">BLK</div>
            <div class="playerStat col-1 border border-dark text-center">TO</div>
            <div class="playerStat col-1 border border-dark text-center">PF</div>
            <div class="playerStat col-1 border border-dark text-center">+/-</div>
        </div>
        <% for(let stat of boxscore[1].players){ %>
        <div class="away row">
            <div class="playerName col-12"><%= stat.nameI %></div>
            <div class="playerStat col-1 border border-dark text-center"><% if(stat.statistics.minutes){ %><%= stat.statistics.minutes%><% } else { %> DNP <%} %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.points%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.fieldGoalsMade %>/<%= stat.statistics.fieldGoalsAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.threePointersMade %>/<%= stat.statistics.threePointersAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.freeThrowsMade %>/<%= stat.statistics.freeThrowsAttempted %></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.reboundsTotal%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.assists%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.steals%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.blocks%></div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.turnovers%></div>
            <div class="playerStat col-1 border border-dark text-center">PF</div>
            <div class="playerStat col-1 border border-dark text-center"><%= stat.statistics.plusMinusPoints%></div>
        </div>
        <% } %>
    </div>
</section>