<section id="boxscore">
    <div class="homeStat">
        <div class="home">
            <%= boxscore[0].teamName %>
            <table>
                <tr class="boxScoreStats">
                    <th>PLAYER</th>
                    <th>MIN</th>
                    <th>PTS</th>
                    <th>FGA/M</th>
                    <th>3PA/M</th>
                    <th>FTA/M</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TO</th>
                    <th>+/-</th>
                </tr>
                <% for(let stat of boxscore[0].players){ %>
                <tr>
                    <td><%= stat.nameI %></td>
                    <td><%= stat.statistics.minutes%></td>
                    <td><%= stat.statistics.points%></td>
                    <td><%= stat.statistics.fieldGoalsMade %>/<%= stat.statistics.fieldGoalsAttempted %></td>
                    <td><%= stat.statistics.threePointersMade %>/<%= stat.statistics.threePointersAttempted %></td>
                    <td><%= stat.statistics.freeThrowsMade %>/<%= stat.statistics.freeThrowsAttempted %></td>
                    <td><%= stat.statistics.reboundsTotal%></td>
                    <td><%= stat.statistics.assists%></td>
                    <td><%= stat.statistics.steals%></td>
                    <td><%= stat.statistics.blocks%></td>
                    <td><%= stat.statistics.turnovers%></td>
                    <td><%= stat.statistics.plusMinusPoints%></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <div class="awayStat">
        <div class="away">
            <%= boxscore[1].teamName %>
            <table>
                <tr class="boxScoreStats">
                    <th>PLAYER</th>
                    <th>MIN</th>
                    <th>PTS</th>
                    <th>FGA/M</th>
                    <th>3PA/M</th>
                    <th>FTA/M</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TO</th>
                    <th>+/-</th>
                </tr>
                <% for(let stat of boxscore[1].players){ %>
                <tr>
                    <td><%= stat.nameI %></td>
                    <td><%= stat.statistics.minutes%></td>
                    <td><%= stat.statistics.points%></td>
                    <td><%= stat.statistics.fieldGoalsMade %>/<%= stat.statistics.fieldGoalsAttempted %></td>
                    <td><%= stat.statistics.threePointersMade %>/<%= stat.statistics.threePointersAttempted %></td>
                    <td><%= stat.statistics.freeThrowsMade %>/<%= stat.statistics.freeThrowsAttempted %></td>
                    <td><%= stat.statistics.reboundsTotal%></td>
                    <td><%= stat.statistics.assists%></td>
                    <td><%= stat.statistics.steals%></td>
                    <td><%= stat.statistics.blocks%></td>
                    <td><%= stat.statistics.turnovers%></td>
                    <td><%= stat.statistics.plusMinusPoints%></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</section>