<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NBA Games</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bs-secondary-color"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <% for(let match of games){ %>
                <a href="https://www.nba.com/game/<%= match.cardData.awayTeam.teamTricode.toLowerCase() %>-vs-<%= match.cardData.homeTeam.teamTricode.toLowerCase() %>-<%= match.cardData.gameId %>" target="_blank" class="nav-link">  <%= match.cardData.awayTeam.teamTricode%> vs <%= match.cardData.homeTeam.teamTricode%></a>
            <%}%>
            </div>
          </div>
        </div>
      </nav>

    <section>
    <div id="headlines">
        <% for(let headline of headlines){ %>
            <div class="headlineTitle">  
                <a href="<%= headline.permalink %>" target="blank" class="headlineLink"><%= headline.title %></a>
            </div>
        <% }%>
        <span class="timer"></span>
    </div>
    </section>
    
    <section id="matches">
        <% for(let match of games){ %>
        <div class="matchup" id="<%= match.cardData.gameId %>" style="background-image: url('https://cdn.nba.com/davinci/images/team-matchups/nba/latest/ced/<%= match.cardData.awayTeam.teamTricode.toLowerCase() %>-<%= match.cardData.homeTeam.teamTricode.toLowerCase() %>/320x180.png')">  
        
            <!-- homeTeam is visually on the RIGHT -->
            <div class="homeTeam matchDetails">
                <% if(match.cardData.awayTeam.score < match.cardData.homeTeam.score) { %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="9 5 19 12 9 19 9 5" fill="currentColor"/></svg>
                <%}%>
                    <%= match.cardData.homeTeam.score %>       
            </div>
            <div class="homeSub subtitle"> <%= match.cardData.homeTeam.teamSubtitle %> </div>
            <div class="status matchDetails">
                <%= match.cardData.gameStatusText %>
            </div>
            
            <!-- awayTeam is visually on the LEFT -->
            <div class="awayTeam matchDetails">
                    
                    <%= match.cardData.awayTeam.score %>
                    <% if(match.cardData.awayTeam.score > match.cardData.homeTeam.score) { %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="15 19 5 12 15 5 15 19" fill="currentColor"/></svg>
                    <%}%>
            </div>  
            <div class="awaySub subtitle"> <%= match.cardData.awayTeam.teamSubtitle %></div>
        </div>
        <% } %>
    </section> 
    

    <div class="footer"><a href="https://christotanes.github.io/web-portfolio/">Chris Totanes 2023</a> | For demonstration purposes only</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>
</html>