<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    
    <section id="headlines">
    <% for(let headline of headlines){ %>
        <div class="headlineTitle">  
            <a href="<%= headline.permalink %>" target="blank" class="headlineLink"><%= headline.title %></a>
        </div>
    <% }%>
    <span class="timer"></span>
    </section>
    
    <section id="matches">
        <% for(let match of games){ %>
        <div class="matchup" id="<%= match.cardData.gameId %>" style="background-image: url('https://cdn.nba.com/davinci/images/team-matchups/nba/latest/ced/<%= match.cardData.awayTeam.teamTricode.toLowerCase() %>-<%= match.cardData.homeTeam.teamTricode.toLowerCase() %>/320x180.png')">  
        
            <!-- homeTeam is visually on the RIGHT -->
            <div class="homeTeam matchDetails">
                <% if(match.cardData.awayTeam.score < match.cardData.homeTeam.score) { %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="9 5 19 12 9 19 9 5" fill="currentColor"/></svg>
                <%}%>
                    <span class="teamDetails"><%= match.cardData.homeTeam.score %></span>
                    <span class="teamDetails"><%= match.cardData.homeTeam.teamSubtitle %> </span>
            </div>
           
            <div class="status matchDetails">
                <%= match.cardData.gameStatusText %>
            </div>
            
            <!-- awayTeam is visually on the LEFT -->
            <div class="awayTeam matchDetails">
                <div class="awayScore matchDetails">
                    <span class="teamDetails"><%= match.cardData.awayTeam.teamSubtitle %></span>
                    <span class="teamDetails"><%= match.cardData.awayTeam.score %> </span>
                    <% if(match.cardData.awayTeam.score > match.cardData.homeTeam.score) { %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="15 19 5 12 15 5 15 19" fill="currentColor"/></svg>
                    <%}%>
                </div>  
     
            </div>
        </div>
        <% } %>
    </section> 
    

    <div class="footer"><a href="https://christotanes.github.io/web-portfolio/">Chris Totanes 2023</a> | For demonstration purposes only</div>

    <script src="./script.js"></script>
</body>
</html>