<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <div id="banner"></div>

    <% for(let match of games){ %>
    <section>
        <div class="matchup" id="<%= match.cardData.gameId %>" style="background-image: url('https://cdn.nba.com/davinci/images/team-matchups/nba/latest/ced/<%= match.cardData.awayTeam.teamTricode.toLowerCase() %>-<%= match.cardData.homeTeam.teamTricode.toLowerCase() %>/320x180.png')">
            <div id="homeTeam" class="matchDetails">
                <%= match.cardData.homeTeam.teamTricode %>
                <div class="record">
                    <%= match.cardData.homeTeam.teamSubtitle %>
                </div>
            </div>
            <div class="score matchDetails">
                <%= match.cardData.homeTeam.score %>        
            </div>
            <span class="status matchDetails">
               <%= match.cardData.gameStatusText %>
            </span>
            <div class="score matchDetails">
                <%= match.cardData.awayTeam.score %>
            </div> 
            <div id="awayTeam" class="matchDetails">
                <%= match.cardData.awayTeam.teamTricode %>
                
                <div class="record">
                    <%= match.cardData.awayTeam.teamSubtitle %>
                </div>  
            </div>
           
        </div>
    </section> 
    <% } %>
</body>
</html>