<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    
    <section id="headlines">
    <% for(let headline of headlines){ %>
        <div class="headlineTitle">  
            <a href="<%= headline.permalink %>" target="blank"><h3><%= headline.title %></h3></a>
        </div>
    <% }%>
    </section>
    
    <section>
        <% for(let match of games){ %>
        <div class="matchup" id="<%= match.cardData.gameId %>" style="background-image: url('https://cdn.nba.com/davinci/images/team-matchups/nba/latest/ced/<%= match.cardData.awayTeam.teamTricode.toLowerCase() %>-<%= match.cardData.homeTeam.teamTricode.toLowerCase() %>/320x180.png')">
            <div class="score matchDetails">
                <%= match.cardData.awayTeam.score %>
            </div> 
            <div id="awayTeam" class="matchDetails">
                <div class="record">
                    <%= match.cardData.awayTeam.teamSubtitle %>
                </div>  
            </div>
            <span class="status matchDetails">
            <%= match.cardData.gameStatusText %>
            </span>
            <div id="homeTeam" class="matchDetails">
                <div class="record">
                    <%= match.cardData.homeTeam.teamSubtitle %>
                </div>
            </div>
            <div class="score matchDetails">
                <%= match.cardData.homeTeam.score %>        
            </div>
        </div>
        <% } %>
    </section> 
    

    <div class="footer"><a href="https://christotanes.github.io/web-portfolio/">Chris Totanes 2023</a> | For demonstration purposes only</div>

    <script src="./script.js"></script>
</body>
</html>