<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
</head>
<body>

    <div id="banner"></div>

    <% for(let match of games){ %>
    <section>
        <div class="matchup">
            <div id="homeTeam">
                <%= match.cardData.homeTeam.teamTricode %> > <%= match.cardData.homeTeam.score %> <%= match.cardData.homeTeam.teamSubtitle %>
            </div>
            <div id="awayTeam">
                <%= match.cardData.awayTeam.teamTricode %> > <%= match.cardData.awayTeam.score %> <%= match.cardData.awayTeam.teamSubtitle %>
            </div>
        </div>
    </section>
    <% } %>
</body>
</html>